@tailwind base;

/* Chrome, Edge, and Safari */
.horizontal-hidden::-webkit-scrollbar {
  display: none;
}

@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply hover:text-primary transition-all ease-out duration-300;
  }
}

* {
  /* font-family: 'Agdasima', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.card {
  background: linear-gradient(45deg, transparent 45px, #ffffff 0);
  cursor: pointer;
}

.cut__right {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 93.77%,
    97.08% 96.88%,
    94.17% 100%,
    33.33% 100%,
    0% 100%
  );
}

.cut_left {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 93.77%,
    100% 100%,
    94.17% 100%,
    33.33% 100%,
    6.23% 100%,
    3.12% 96.88%,
    0% 93.77%
  );
}

.cut_top {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 12%);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, #262927);
  pointer-events: none;
}

.divider {
  color: #262927;
}
